.pr-widget {
    border-color: #b1b4b6;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #f3f2f1;
    color: 	#0b0c0c;
    max-width: 60vw;
}

.build-logo {
    display: inline-block;
    position: inherit;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    vertical-align:middle;
}

.build-green {
    background-color: #00703c;
}

.build-yellow {
    background-color: #ffdd00;
}

.build-red {
    background-color: #d4351c;
}