.parent {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.horizontal-centered {
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.alignment {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.vertical-centered {
  max-width: 50%;
}

.pr-number-text {
  text-align: left;
  font-size: 25vh;
}