.parent {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.horizontal-centered {
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.horizontal-30 {
  align-items: center;
  width: 30%;
  flex-direction: column;
}

.horizontal-70 {
  align-items: center;
  width: 70%;
  flex-direction: column;
}

.alignment {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.vertical-centered {
  max-width: 50%;
}

.pr-number-text {
  text-align: left;
  font-size: 35vh;
}

.pr-container {
  /* display: flex;
  align-items: flex-start; */
  background-color: #1d70b8;
  color: white;
  border-right: 2px solid #003078;
}

.details-container {
  background-color: #f3f2f1;
  padding: 15px;
}

.title-text {
  max-width: 60vw;
}