name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v3.5.0
      with:
        node-version: '10.x'
    - run: npm install
    - run: npm run-script build 
